Repository SciCompMod/memilio, pull requests merged in 2021-10, with the labels that each got.

#81 use lcov+cmake instead of gcovr
  .github/actions/linux-test/action.yml
  .github/workflows/main.yml
  cpp/CMakeLists.txt
Labels: loc::continuous integration

#79 Update how parameters, inital people in each compartment and contact …
  pycode/examples/secir_groups.py
  pycode/examples/secir_simple.py
Labels: class::bug, status::in review, loc::python interface, model::ode

#22 Generate the abm world from statistical data
  cpp/CMakeLists.txt
  cpp/epidemiology/abm/household.cpp
  cpp/epidemiology/abm/household.h
  cpp/epidemiology/abm/parameters.h
  cpp/epidemiology/abm/person.cpp
  cpp/epidemiology/abm/person.h
  cpp/epidemiology/abm/world.cpp
  cpp/epidemiology/abm/world.h
  cpp/epidemiology/utils/span.h
  cpp/examples/abm.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_household.cpp
Labels: class::feature, status::in review, loc::backend, model::abm
