Repository SciCompMod/memilio, pull requests merged in 2022-11, with the labels that each got.

#435 416 Rename SecirSimulationResult
  cpp/memilio/io/result_io.cpp
  cpp/memilio/io/result_io.h
Labels: loc::backend, model::ode, class::improvement

#437 436 Usage instructions for the simulations are not up to date
  cpp/models/ode_secirvvs/README.md
  cpp/simulations/2020_npis_sarscov2_wildtype_germany.cpp
  cpp/simulations/2021_vaccination_sarscov2_delta_germany.cpp
Labels: loc::backend, model::ode, class::improvement

#452 442 Include interpolation in exp and add for seir
  pycode/examples/simulation/oseir_simple.py
  pycode/examples/simulation/secir_groups.py
  pycode/examples/simulation/secir_simple.py
  pycode/memilio-simulation/memilio/simulation/oseir.cpp
Labels: class::feature, loc::backend, model::ode

#288 256 add capacities and rel_risk
  cpp/examples/abm.cpp
  cpp/models/abm/household.cpp
  cpp/models/abm/household.h
  cpp/models/abm/location.cpp
  cpp/models/abm/location.h
  cpp/models/abm/person.cpp
  cpp/models/abm/person.h
  cpp/models/abm/world.cpp
  cpp/tests/test_abm_location.cpp
  cpp/tests/test_abm_world.cpp
Labels: class::feature, prio::moderate, status::in review, loc::backend, model::abm
