Repository SciCompMod/memilio, pull requests merged in 2024-04, with the labels that each got.

#948 947 example for ide secir model not working as expected
  cpp/examples/ide_secir.cpp
Labels: status::in review, model::ide

#972 793 add seasonality to ide model
  cpp/examples/ide_secir.cpp
  cpp/models/ide_secir/model.cpp
  cpp/models/ide_secir/parameters.h
  cpp/models/ide_secir/simulation.cpp
  cpp/models/ide_secir/simulation.h
  cpp/tests/test_ide_secir.cpp
Labels: class::feature, status::in review, loc::backend, model::ide

#1001 Minor follow up patch to issue 988
  cpp/memilio/math/floating_point.h
Labels: loc::backend, class::improvement

#702 675 alternative computation of compartments in IDE model
  cpp/models/ide_secir/model.cpp
  cpp/models/ide_secir/model.h
  cpp/models/ide_secir/simulation.cpp
  cpp/tests/test_binary_serializer.cpp
  cpp/tests/test_ide_secir.cpp
Labels: status::in review, model::ide

#952 610 implement initialization scheme for flows
  cpp/examples/CMakeLists.txt
  cpp/examples/ide_initialization.cpp
  cpp/examples/ide_secir.cpp
  cpp/memilio/epidemiology/state_age_function.h
  cpp/models/ide_secir/CMakeLists.txt
  cpp/models/ide_secir/model.cpp
  cpp/models/ide_secir/model.h
  cpp/models/ide_secir/parameters_io.cpp
  cpp/models/ide_secir/parameters_io.h
  cpp/tests/CMakeLists.txt
  cpp/tests/data/ide-parameters-io-compare.csv
  cpp/tests/test_ide_parameters_io.cpp
  cpp/tests/test_ide_secir.cpp
  cpp/tests/test_state_age_function.cpp
Labels: status::in review

#1000 976 improve the documentation of the ide secir model
  cpp/models/ide_secir/README.md
  cpp/models/ode_secir/README.md
Labels: status::in review
