Repository SciCompMod/memilio, pull requests merged in 2024-03, with the labels that each got.

#941 936 implement the class infectionstate of the lct model more efficiently
  cpp/examples/lct_secir.cpp
  cpp/memilio/CMakeLists.txt
  cpp/memilio/epidemiology/lct_infection_state.h
  cpp/models/lct_secir/CMakeLists.txt
  cpp/models/lct_secir/README.md
  cpp/models/lct_secir/infection_state.h
  cpp/models/lct_secir/model.cpp
  cpp/models/lct_secir/model.h
  cpp/models/lct_secir/simulation.cpp
  cpp/models/lct_secir/simulation.h
  cpp/tests/test_lct_secir.cpp
Labels: prio::high, status::in review, class::performance, model::lct

#960 949 Correct handling of dt_min in integrators
  cpp/benchmarks/graph_simulation.cpp
  cpp/benchmarks/integrator_step.config
  cpp/benchmarks/integrator_step.cpp
  cpp/benchmarks/simulation.cpp
  cpp/memilio/math/adapt_rk.cpp
  cpp/memilio/math/integrator.cpp
  cpp/memilio/math/integrator.h
  cpp/memilio/math/stepper_wrapper.h
  cpp/tests/data/secihurd-compare-cashkarp.csv
  cpp/tests/data/secihurd-compare.csv
  cpp/tests/test_numericalIntegration.cpp
  cpp/tests/test_odesecir.cpp
Labels: class::bug, prio::high, loc::backend

#920 893 add initialization method with real data for lct model
  cpp/memilio/io/epi_data.h
  cpp/models/lct_secir/CMakeLists.txt
  cpp/models/lct_secir/README.md
  cpp/models/lct_secir/model.h
  cpp/models/lct_secir/parameters_io.h
  cpp/tests/CMakeLists.txt
  cpp/tests/data/cases_all_germany.json
  cpp/tests/data/test_empty_file.json
  cpp/tests/test_epi_data_io.cpp
  cpp/tests/test_lct_parameters_io.cpp
Labels: class::feature, prio::moderate, status::in review, loc::infrastructure, model::lct

#974 Revert "Add workaround to fix the CI (#969)"
  .github/actions/linux-build/action.yml
  .github/actions/linux-run_examples/action.yml
  .github/actions/linux-test/action.yml
Labels: loc::continuous integration

#959 958 implement a check for the results of the initialization
  cpp/README.md
  cpp/models/ide_secir/model.cpp
  cpp/models/ide_secir/model.h
  cpp/tests/test_ide_secir.cpp
Labels: status::in review, model::ide
