Repository SciCompMod/memilio, pull requests merged in 2024-02, with the labels that each got.

#926 Fix memilio logo in doxygen documentation
  docs/Doxyfile
Labels: class::documentation

#605 271 expand tests of the python bindings
  cpp/examples/CMakeLists.txt
  cpp/examples/ode_secir.cpp
  cpp/examples/ode_secir_ageres.cpp
  cpp/examples/ode_seir.cpp
  cpp/examples/ode_sir.cpp
  cpp/tests/data/ode-secihurd-ageres-compare.csv
  cpp/tests/data/ode-sir-compare.csv
  cpp/tests/data/secihurd-compare.csv
  cpp/tests/data/seir-compare.csv
  cpp/tests/data/seir-js-compare.csv
  cpp/tests/test_odesecir.cpp
  cpp/tests/test_odesecir_ageres.cpp
  cpp/tests/test_odeseir.cpp
  cpp/tests/test_odesir.cpp
  pycode/examples/simulation/secir_ageres.py
  pycode/memilio-simulation/memilio/simulation/secir.cpp
  pycode/memilio-simulation/memilio/simulation_test/data/ode-secihurd-ageres-compare.csv
  pycode/memilio-simulation/memilio/simulation_test/data/secihurd-compare.csv
  pycode/memilio-simulation/memilio/simulation_test/data/seir-compare.csv
  pycode/memilio-simulation/memilio/simulation_test/test_osecir.py
  pycode/memilio-simulation/memilio/simulation_test/test_osecir_ageres.py
  pycode/memilio-simulation/memilio/simulation_test/test_oseir.py
  pycode/memilio-simulation/setup.py
Labels: loc::python interface

#927 fix parameter rendering by doxygen
  pycode/memilio-epidata/memilio/epidata/progress_indicator.py
Labels: class::documentation

#915 892 implement simple lct model
  cpp/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/examples/lct_secir.cpp
  cpp/models/lct_secir/CMakeLists.txt
  cpp/models/lct_secir/README.md
  cpp/models/lct_secir/infection_state.h
  cpp/models/lct_secir/model.cpp
  cpp/models/lct_secir/model.h
  cpp/models/lct_secir/parameters.h
  cpp/models/lct_secir/simulation.cpp
  cpp/models/lct_secir/simulation.h
  cpp/tests/CMakeLists.txt
  cpp/tests/data/lct-secir-compartments-compare.csv
  cpp/tests/data/lct-secir-subcompartments-compare.csv
  cpp/tests/test_lct_secir.cpp
Labels: class::feature, prio::high, status::in review, loc::infrastructure, model::lct

#913 898 change test for valid transition distibution from ide model
  cpp/models/ide_secir/model.h
  cpp/models/ide_secir/parameters.h
Labels: class::bug, status::in review, model::ide, loc::infrastructure

#770 769 new initialization for ide model
  cpp/examples/ide_secir.cpp
  cpp/models/ide_secir/model.cpp
  cpp/models/ide_secir/model.h
  cpp/tests/test_ide_secir.cpp
Labels: prio::high, status::in review, loc::backend, model::ide, class::improvement

#951 950 build cpp msvc debug latest fails at the main branch
  cpp/memilio/utils/logging.h
Labels: class::bug, prio::critical, status::in progress

#943 928 add a flow chart for the lct model
  cpp/models/lct_secir/README.md
  cpp/models/ode_secir/README.md
Labels: class::documentation, status::in review, model::lct
